<h1>Hello! Users</h1>
<h3>Here is your details</h3> 
<ol>
  <%# <% @users.each do |article| %>
    <%# <li>
      <a href="/users/<%= article.id %>
        <%# <%= article.name%>
      <%# </a> 
    </li> %>
  <%# <% end %> 
<%# </ol> %>
<%# 
@users.each do |f| %>
<%# <p>Name: <%= f.name </p>%>
<%# <p>age: <%= f.age </p>%>
<%# <p>Email: <%= f.email </p>%>
<%# <p>Phone_no: <%= f.phone_no </p>%>
<%# <% end %>
<%# </ol> %>
<%
=begin %>
<h1>User Name and their details</h1>

<ul>
  <% @users.each do |article| %>
    <li>
      <a href="<%= user_path(article) %>">
        <%= article.name %>
      </a>
    </li>
  <% end %>
</ul>
<%
=end  %>
<%
=begin
%>
<h1>Articles</h1>

<ul>
  <% @users.each do |article| %>
    <li>
      <%= link_to article.name %>
    </li>
  <% end %>
</ul>
<%
=end
%> 
<h1>Existing User</h1>

<ul>
  <% @users.each do |article| %>
  <a href="/users/<%= article.id%>">
    <li>
      <%= article.name %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New User", new_user_path%>





