<%
=begin %>
<h1>New Article</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age%><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%
=end %>
<h1>New Article</h1>

<%= form_with model: @user, url: users_path, method: :POST do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= Input your name  %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Age %><br>
    <%= form.number_field :age %><br>
    <% @user.errors.full_messages_for(:age).each do |message| %>
      <div><%= Input your age %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :Phone_No %><br>
    <%= form.number_field :phone_no %><br>
    <% @user.errors.full_messages_for(:phone_no).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %><br>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
