<%
=begin %>
<h1>New Article</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age%><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%
=end %>

<%
=begin
%>
<h1>Enter user details</h1>

<%= form_with model: @user, url: users_path, method: :POST do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Age %><br>
    <%= form.number_field :age %><br>
  </div>

   <div>
    <%= form.label :Phone_No %><br>
    <%= form.number_field :phone_no %><br>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %><br>
  <div>
    <%= form.submit %>
  </div>
  <% end %>
<%
=end
%>
  <h1>New User</h1>

 <%= render "form", user: @user %>


  